@page
@model ManageCourse.Pages.Login.WarningModel
@{
    ViewData["Title"] = "Warning";
}

<div style="text-align: center; margin-top: 50px;">
    <h2 style="color: red;">CẢNH BÁO!</h2>
    <p style="font-size: 20px;">Bạn không có quyền truy cập trang này. Vui lòng quay lại.</p>
</div>
